<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ account.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="/static/favicon.webp" type="image/x-icon">
    <link rel="shortcut icon" href="/static/favicon.webp" type="image/x-icon">
    <style>
        .hidden {
            display: none;
        }
        .sortable {
            cursor: pointer;
        }
        .sortable .arrow {
            margin-left: 5px;
        }
        .arrow.asc:before {
            content: '▲';
        }
        .arrow.desc:before {
            content: '▼';
        }
    </style>
</head>
<body>
<header class="container full-width">
    <div class="header-left">
        <img src="{{ url_for('static', filename=account.image_path) }}" alt="Bank Card" class="bank-card">
    </div>
    <div class="header-center">
        <h1>{{ account.name }}</h1>
    </div>
    <div class="header-right">
        <nav>
            <ul>
                <li><a href="{{ url_for('index.index') }}">Home</a></li>
                <li>
                    <a href="#">Categories</a>
                    <ul class="dropdown">
                        {% for category, count in categories %}
                        <li>
                            <a href="{{ url_for('category.category', account_name=account.name, category_name=category) }}">{{ category }} ({{ count }})</a>
                        </li>
                        {% endfor %}
                        <li>
                            <button id="new-category-button" onclick="showCategoryInput()">+ New Category</button>
                            <form id="new-category-form" class="hidden" onsubmit="submitNewCategory(event)">
                                <input type="text" id="new-category-input" placeholder="Enter category name" required>
                            </form>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>

{% if account.hasTransactions() %}
<div class="container stats-container" id="stats-container">
    {% set stats = account.viewedTransactions %}
    {% include 'transaction_stats.html' %}
    <input type="text" id="search-input" placeholder="Search transactions..." style="margin-left: 10px;" onclick="event.stopPropagation();">
</div>

<div class="container accounts-container">
    <table>
        <thead>
            <tr>
                <th class="sortable" data-sort="1" data-direction="{{ 'desc' if sort_by != '1' else next_sort_direction }}">
                    Date
                    {% if sort_by == '1' %}
                    <span class="arrow {{ sort_direction }}"></span>
                    {% endif %}
                </th>
                <th class="sortable" data-sort="2" data-direction="{{ 'asc' if sort_by != '2' else next_sort_direction }}">
                    Description
                    {% if sort_by == '2' %}
                    <span class="arrow {{ sort_direction }}"></span>
                    {% endif %}
                </th>
                <th>Before</th>
                <th class="sortable" data-sort="3" data-direction="{{ 'desc' if sort_by != '3' else next_sort_direction }}">
                    Amount
                    {% if sort_by == '3' %}
                    <span class="arrow {{ sort_direction }}"></span>
                    {% endif %}
                </th>
                <th>After</th>
            </tr>
        </thead>
        <tbody id="transactions-body">
            {% set transactions = account.viewedTransactions.transactions %}
            {% include 'transactions_table_rows.html' %}
        </tbody>
    </table>
</div>
{% else %}
<p>No transactions available</p>
<p>Please upload a bank statement: </p>
{% endif %}

<script>
   const createCategoryUrl = "{{ url_for('create_category.create_category') }}";
   const searchTransactionsUrl = "{{ url_for('search_transactions.search_transactions', account_name=account.name) }}";
   const accountName = "{{ account.name }}";
</script>
<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>